.tech-icon-section 
    display: grid
    grid-row-gap: 30px
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%


.tech-icon 
    grid-column-start: span(1)
    height: 130px
    justify-self: center


@media (max-width: 900px) 
    .tech-icon-section 
        display: grid
        grid-row-gap: 30px
        grid-template-columns: 20% 20% 20% 20% 20%
    

@media (max-width: 750px) 
    .tech-icon-section 
        display: grid
        grid-row-gap: 30px
        grid-template-columns: 25% 25% 25% 25%
    

@media (max-width: 600px) 
    .tech-icon-section 
        display: grid
        grid-row-gap: 30px
        grid-template-columns: 33.333333% 33.333333% 33.333333%
    

@media (max-width: 450px) 
    .tech-icon-section 
        display: grid
        grid-row-gap: 30px
        grid-template-columns: 50% 50%
    
